<h1>Home page</h1>
<ol>
  <li><%= link_to "Home", root_path%></li>
  <li><%= link_to "Create a new listing", '/listing/new' %></li>
  <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
</ol>